{erl_opts, [debug_info]}.
{deps, [{gun, "2.0.1"}, {jsx, "3.1.0"}]}.

%% Plugins
{project_plugins, [erlfmt, rebar3_hex, rebar3_ex_doc]}.

{erlfmt, [write]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {logo, <<".github/assets/logo.png">>},
    {source_url, <<"https://github.com/meppu/surreal">>},
    {extras, [<<"README.md">>, <<"LICENSE.md">>]},
    {main, <<"readme">>}
]}.

%% Dialyzer
{dialyzer, [
    {warnings, [error_handling, missing_return, unknown]}
]}.

%% XRef
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
