{erl_opts, [debug_info]}.
{deps, [{gun, "2.0.1"}, {jsone, "1.8.0"}]}.

%% Plugins
{project_plugins, [erlfmt, rebar3_hex, rebar3_ex_doc, rebar3_codecov]}.

{erlfmt, [write]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {logo, <<".github/assets/logo.png">>},
    {source_url, <<"https://github.com/meppu/surreal">>},
    {extras, [<<"README.md">>, <<"LICENSE.md">>]},
    {main, <<"readme">>}
]}.

%% Dialyzer
{dialyzer, [
    {warnings, [error_handling, missing_return, unknown]}
]}.

%% XRef
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.
{cover_excl_mods, [surreal_connection, surreal_result]}.
{cover_opts, [verbose]}.
