{erl_opts, [debug_info]}.
{project_plugins, [erlfmt, rebar3_ex_doc, rebar3_hex]}.
{deps, [{gun, "2.0.1"}, {jsx, "3.1.0"}]}.
{erlfmt, [write]}.
{ex_doc, [
    {logo, <<".github/assets/logo.png">>},
    {source_url, <<"https://github.com/meppu/surreal">>},
    {extras, [<<"README.md">>, <<"LICENSE.md">>]},
    {main, <<"readme">>}
]}.
{hex, [{doc, ex_doc}]}.
