on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Testing for Erlang/OTP ${{ matrix.otp }}

    strategy:
      matrix:
        otp: ["26.0.2", "25.3.2.5"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          rebar3-version: "3.22.1"
          install-hex: false
          version-type: strict

      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: _build
          key: build-${{ hashFiles('**/rebar.lock') }}-${{ matrix.otp }}-otp

      - name: Compile Project
        run: rebar3 compile

      - name: Check Format
        run: rebar3 fmt --check

      - name: Run Dialyzer
        run: rebar3 dialyzer

      - name: Run XRef
        run: rebar3 xref

      - name: Set up SurrealDB
        run: |
          docker run -it -d --rm --name surrealdb -p 8000:8000 \
          surrealdb/surrealdb:nightly start -u root -p root

      - name: Run Tests
        run: rebar3 ct --verbose

      - name: Stop SurrealDB
        run: docker stop -t 1 surrealdb
